<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Лента новостей</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/news_style.css">
    </head>
    <body>
        <div id="top-bar">
            <center style="width:40%"><div id="uniname">Unusual Government University</div></center>
            <div id="nonuniname">
                <div id="server-info">
                    <p>Серверное время: <span id="server-time">18:00:00</span></p>
                    <p>Количество посещений: <span id="visits">20</span></p>
                </div>
                <button class="tab">Новости</button>
                <button class="tab">Расписание</button>
                <button id="profiletab">Личный кабинет</button>
            </div>
        </div>
        <div id="newscolumn">
            <div id="news-header">
                <span style="font-size:24px">Новостная лента</span>
            </div>
            <div class="article">
                <div class="news-creator">
                    <img alt="pfp" src="">
                    <div class="new-description">
                        <b>Пиздец</b>
                        <p>hihihihihihi</p>
                    </div>
                </div>
                <div class="article-content">
                    <h2>Доброе утро с новым ходом</h2>
                    <p>vaivisbiwngwehiovwkfkekpwkaj;wngjwbjwbwnbfnbldnobsnkbnkbnekbnfejovjejnfejbnebnfenbkb vej;akjbvjfenjo wkenokewnbknkosefnkb</p>
                    <img src="" alt="hello">
                </div>
            </div>
            <button id="loadmore-btn" class="cool-btn">Загрузить больше новостей</button>
        </div>
    </body>
</html>