<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Авторизация</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/login_style.css">
    </head>
    <body>
        <center>
            <h2>Вход</h2>
            <span th:if="${error}" style="color:red;">
                <p th:text="${error}"></p>
            </span>
            <form th:action="@{/login}" method="post">
                <div>
                    <label for="username">Имя пользователя:</label>
                    <input type="text" id="username" name="username" required />
                </div>
                <div>
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" name="password" required />
                </div>
                <button type="submit">Войти</button>
            </form>
            <p><a th:href="@{/register}">Зарегистрироваться</a></p>
        </center>
    </body>
</html>